
 /* Import Google Font - Poppins */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
 }
 

 
 /* Navbar Styling */
 .navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: white;
     padding: 10px 50px;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
 }
 
 .navbar .logo {
     font-size: 26px;
     font-weight: bold;
     color: black;
 }
 
 .navbar .menu-toggle {
     display: none;
     font-size: 24px;
     background: none;
     border: none;
     color: white;
     cursor: pointer;
 }
 
 .navbar .nav-links {
     display: flex;
     list-style: none;
     gap: 23px;
 }
 
 .navbar .nav-links li {
     margin: 0 15px;
     font-size: 16px;
 }
 
 .navbar .nav-links a {
     text-decoration: none;
     color: black;
     transition: color 0.3s;
     font-weight: 600;
 }
 
 .navbar .nav-links a:hover {
     color: cadetblue;
 }
 
 /* Responsive Design for Mobile */
 @media (max-width: 768px) {
     .navbar .menu-toggle {
         display: block;
     }
 
     .navbar .nav-links {
         display: none;
         flex-direction: column;
         background-color: #163f8e;
         position: absolute;
         top: 50px;
         right: 0;
         width: 100%;
         text-align: center;
     }
 
     .navbar .nav-links.active {
         display: flex;
     }
 
     .navbar .nav-links li {
         margin: 10px 0;
     }
 }
 
 /* ----------------------wrapper ------------------------- */
 
 
 main{
     display: flex;
     padding: 0px 10px;
     align-items: center;
     justify-content: center;
     min-height: 55vh;
 }
 .wrapper{
     width: 760px;
     padding: 0px;
     margin-top: 55px;
     background: #fff;
     border-radius: 10px;
     box-shadow: 0 10px 15px rgba(0,0,0,0.05);
   }
   .wrapper .input-field{
     opacity: 0;
     z-index: -999;
     position: absolute;
   }
   .wrapper .content-box{
     padding: 15px 20px 0;
     border-radius: 10px;
     border: 1px solid #bfbfbf;
   }
   .content-box .typing-text{
     overflow: hidden;
     max-height: 256px;
   }
   .typing-text::-webkit-scrollbar{
     width: 0;
   }
   .typing-text p{
     font-size: 17px;
     text-align: justify;
     letter-spacing: 1px;
     word-break: break-all;
   }
   .typing-text p span{
     position: relative;
   }
   .typing-text p span.correct{
     color: #56964f;
   }
   .typing-text p span.incorrect{
     color: #cb3439;
     outline: 1px solid #fff;
     background: #ffc0cb;
     border-radius: 4px;
   }
   .typing-text p span.active{
     color: #17A2B8;
   }
   .typing-text p span.active::before{
     position: absolute;
     content: "";
     height: 2px;
     width: 100%;
     bottom: 0;
     left: 0;
     opacity: 0;
     border-radius: 5px;
     background: #17A2B8;
     animation: blink 1s ease-in-out infinite;
   }
   @keyframes blink{
     50%{ 
       opacity: 1; 
     }
   }
   .content-box .content{
     margin-top: 17px;
     display: flex;
     padding: 12px 0;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
     border-top: 1px solid #bfbfbf;
   }
   .content button{
     outline: none;
     border: none;
     width: 105px;
     color: #fff;
     padding: 8px 0;
     font-size: 16px;
     cursor: pointer;
     border-radius: 5px;
     background: #17A2B8;
     transition: transform 0.3s ease;
   }
   .content button:active{
     transform: scale(0.97);
   }
   .content .result-details{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     width: calc(100% - 140px);
     justify-content: space-between;
   }
   .result-details li{
     display: flex;
     height: 20px;
     list-style: none;
     position: relative;
     align-items: center;
   }
   .result-details li:not(:first-child){
     padding-left: 22px;
     border-left: 1px solid #bfbfbf;
   }
   .result-details li p{
     font-size: 19px;
   }
   .result-details li span{
     display: block;
     font-size: 20px;
     margin-left: 10px;
   }
   li span b{
     font-weight: 500;
   }
   li:not(:first-child) span{
     font-weight: 500;
   }
   @media (max-width: 745px) {
     .wrapper{
       padding: 20px;
     }
     .content-box .content{
       padding: 20px 0;
     }
     .content-box .typing-text{
       max-height: 100%;
     }
     .typing-text p{
       font-size: 19px;
       text-align: left;
     }
     .content button{
       width: 100%;
       font-size: 15px;
       padding: 10px 0;
       margin-top: 20px;
     }
     .content .result-details{
       width: 100%;
     }
     .result-details li:not(:first-child){
       border-left: 0;
       padding: 0;
     }
     .result-details li p, 
     .result-details li span{
       font-size: 17px;
     }
   }
   @media (max-width: 518px) {
     .wrapper .content-box{
       padding: 10px 15px 0;
     }
     .typing-text p{
       font-size: 18px;
     }
     .result-details li{
       margin-bottom: 10px;
     }
     .content button{
       margin-top: 10px;
     }
 
 }



 /* ---------------keyboard-------------- */



 .keyboard-section {
    position: relative;
    text-align: center;
}

/* Hands */
/* Keyboard Layout */

.keyboard {
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    width: 60%;
    margin: 0px auto;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px auto 0px auto;
    font-size: 16px;
}

.key {
    width: 50px;
    height: 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #163f8e;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.key.space {
    width: 300px;
}



.key.pressed {
    background-color: #ff5722;
}

.hand.move {
    transform: translateY(20px);
}

 /* ----------------footer----------------------- */
 
 footer{
     color: #fff;
     background-color: #17a2b8;
 }
 footer .footer_details{
     text-align: center;
 }
 footer .footer_details h2{
     padding: 20px;
     font-size: 16px;
 }
 footer .footer_details h2 a{
     color: #fff;
 }
 
 @media (max-width: 768px) {
     .navigation_bar .header_list .menu-toggle {
         display: block;
     }
     .navigation_bar .header_list ul .nav-links {
         display: none;
         flex-direction: column;
         background-color: #163f8e;
         position: absolute;
         top: 50px;
         right: 0;
         width: 100%;
         text-align: center;
     }
     .navigation_bar .nav-links.active {
         display: flex;
     }
     .navigation_bar .nav-links li {
         margin: 10px 0;
     }
 }

 /* <!-- ------------------how to learn------------------- --> */

 .how_to_learn{}
 .how_to_learn{
   margin: 0px 50px;
 }
 .how_to_learn .heading{
    text-align: center;
}
 .how_to_learn .heading h2{
    display: inline-block;
    width: fit-content;
    border-bottom: 2px solid;
    padding: 0px 10px 10px 10px;
}
 .how_to_learn .box{}
 .how_to_learn .box .row{
    display: flex;
    justify-content: center;
}
 .how_to_learn .box .row .col{
    width: 50%;
    padding: 20px 22px 20px 49px;
}
 .how_to_learn .box .row .col .left_heading{}
 .how_to_learn .box .row .col .left_heading h2{
    text-align: justify;
}
 .how_to_learn .box .row .col .left_heading h4{
    padding: 10px 0px;
}
 .how_to_learn .box .row .col .left_heading p{
    padding: 10px 0px;
    font-size: 16px;
    line-height: 1.4;
}
 .how_to_learn .box .row .col .right_heading{}
 .how_to_learn .box .row .col .right_heading h2{
    line-height: 1.4;
    font-size: 16px;
}
 .how_to_learn .box .row .col .right_heading p{
    padding: 10px 0px;
    font-size: 14px;
}

/* <!-- -----------Typing Tutor Features ------------------ --> */
    
.Features{}
.Features{
    margin: 0px 90px;
}
.Features .heading{
    text-align: center;
}
.Features .heading h2{
    display: inline-block;
    width: fit-content;
    border-bottom: 2px solid;
    padding: 0px 10px 10px 20px;
}
.Features .row{margin: 20px 0px 0px 0px;}
.Features .row .col{width: 50%;}
.Features .row .col .heading{
    text-align: justify;
}
.Features .row .col .heading h2{
    border-bottom: none;
}
.Features .row .col .heading p{
    padding: 0px 20px 20px 20px;
    font-size: 14px;
}
.Features .row .col .heading h4{
    padding-bottom: 10px;
    padding-left: 20px;
}

.Features .Practice_Frequently{}
.Features .Practice_Frequently .heading{}
.Features .Practice_Frequently .heading h2{}
.Features .Practice_Frequently .heading p{
    padding: 20px 0px 20px 0px;
    font-size: 14px;
}